*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  color: #1b1b1b;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper {
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  max-width: 74.375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}
@media (max-width: 768px) {
  [class*=__container] {
    padding: 0 2.44rem;
  }
}
@media (max-width: 425px) {
  [class*=__container] {
    padding: 0 1.25rem;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bg-white {
  background-color: #ffffff;
}

.bg-violet {
  background-color: #ebe7f3;
}

.bg-light-violet {
  background-color: #f4f4f8;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.title {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1.125rem 1.625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: 0.125rem solid #4d1299;
  border-radius: 3.125rem;
  background: #4d1299;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.btn:hover {
  background: #f4f4f8;
}
.btn:hover a {
  color: #4d1299;
}
.btn a {
  color: #ffffff;
}
@media (max-width: 768px) {
  .btn {
    padding: 1rem 1.5rem;
  }
}

.bg img {
  -o-object-fit: fill;
     object-fit: fill;
}

.footer-title {
  color: #1b1b1b;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.688rem;
  margin-bottom: 1rem;
}

.phone {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1.125rem 1.625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3.125rem;
  color: #4d1299;
  cursor: pointer;
}
.phone:hover {
  color: #ffffff;
  background-color: #4d1299;
}
.phone a {
  color: inherit;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.563rem;
}
@media (max-width: 768px) {
  .phone a {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}

.header {
  z-index: 50;
  background-color: #f4f4f8;
  -webkit-box-shadow: 0px 15px 20px 0px rgba(33, 33, 51, 0.03);
          box-shadow: 0px 15px 20px 0px rgba(33, 33, 51, 0.03);
}
.header__navigation {
  height: 6.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem 0;
}
.header__menu {
  background-color: #4d1299;
  position: absolute;
  top: 0;
  right: -100%;
  height: 100%;
  width: 45%;
  padding-top: 10.44rem;
  padding-left: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.header__menu._active {
  right: 0;
  opacity: 1;
}
@media (min-width: 2500px) {
  .header__menu {
    width: 46%;
  }
}
@media (max-width: 1366px) {
  .header__menu {
    padding-top: 13.44rem;
    padding-left: 3.81rem;
    width: 48%;
  }
}
@media (max-width: 768px) {
  .header__menu {
    padding-top: 13.44rem;
    padding-left: 3.81rem;
    width: 65%;
  }
}
@media (max-width: 630px) {
  .header__menu {
    padding-top: 9.56rem;
    padding-left: 1.25rem;
    width: 100%;
  }
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main__benefits {
  padding-bottom: 7.25rem;
}
.main__package {
  padding-top: 7.25rem;
  padding-bottom: 3rem;
}
@media (max-width: 768px) {
  .main__package {
    padding-top: 4.5rem;
  }
}
@media (max-width: 425px) {
  .main__package {
    padding-top: 4rem;
  }
}
.main__feedbacks {
  padding: 7.25rem 0;
}
@media (max-width: 768px) {
  .main__feedbacks {
    padding: 4.5rem 0;
  }
}
@media (max-width: 425px) {
  .main__feedbacks {
    padding: 4rem 0;
  }
}
.main__credence {
  padding-top: 7.25rem;
}
@media (max-width: 768px) {
  .main__credence {
    padding: 4.5rem 0 0 0;
  }
}
@media (max-width: 425px) {
  .main__credence {
    padding: 4rem 0 0 0;
  }
}
.main__questions {
  padding: 7.25rem 0;
}
@media (max-width: 768px) {
  .main__questions {
    padding: 4.5rem 0;
  }
}
@media (max-width: 425px) {
  .main__questions {
    padding: 4rem 0;
  }
}

.footer {
  border-radius: 1.875rem 1.875rem 0 0;
  background: #ebe7f3;
}
.footer__body {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3.75rem;
  margin-bottom: 6.81rem;
}
@media (max-width: 768px) {
  .footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 2.5rem;
  }
}

.navigation-header__logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 3.33rem;
  height: 4.25rem;
}
.navigation-header__switch {
  padding: 0.3125rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.1875rem;
     -moz-column-gap: 0.1875rem;
          column-gap: 0.1875rem;
  border-radius: 3.125rem;
  border: 0.125rem solid #4d1299;
}
.navigation-header__links {
  -webkit-column-gap: 3.12rem;
     -moz-column-gap: 3.12rem;
          column-gap: 3.12rem;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.563rem;
}
.navigation-header__links a {
  color: inherit;
}
.navigation-header__links a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .navigation-header__links {
    display: none;
  }
}
.navigation-header__social {
  -webkit-column-gap: 0.94rem;
     -moz-column-gap: 0.94rem;
          column-gap: 0.94rem;
}
.navigation-header__social a {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.navigation-header__social a:hover {
  background: #4d1299;
}
.navigation-header__social a svg {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  fill: #4d1299;
}
.navigation-header__social a svg:hover {
  fill: #ffffff;
}
@media (max-width: 600px) {
  .navigation-header__social {
    display: none;
  }
}
.navigation-header__phone {
  border: 0.125rem solid #4d1299;
}
@media (max-width: 1023.99px) {
  .navigation-header__phone {
    display: none;
  }
}
.navigation-header__menu-button {
  position: relative;
  z-index: 10;
  height: 1.125rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.navigation-header__menu-button span {
  width: 1.5rem;
  height: 0.125rem;
  border-radius: 0.0625rem;
  background-color: #4d1299;
  -webkit-transition: all ease-in-out 0.35s;
  transition: all ease-in-out 0.35s;
}
.navigation-header__menu-button:hover span:nth-child(2) {
  width: 0.75rem;
}
.navigation-header__menu-button:hover span:last-child {
  width: 1.25rem;
}
.navigation-header__menu-button._active {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.75rem;
  height: 1.75rem;
}
.navigation-header__menu-button._active:hover span {
  width: 1.5rem;
}
.navigation-header__menu-button._active span {
  width: 1.75rem;
  position: absolute;
  background-color: #ffffff;
}
.navigation-header__menu-button._active span:first-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.navigation-header__menu-button._active span:nth-child(2) {
  width: 0;
}
.navigation-header__menu-button._active span:last-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.switch-pages a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0.3125rem 0.875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
  border-radius: 1.5625rem;
}
.switch-pages__home._active, .switch-pages__office._active {
  color: #ffffff;
  background: #4d1299;
}

.menu-header__links {
  margin-bottom: 5.81rem;
}
.menu-header__link {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 3.063rem;
}
.menu-header__link:not(:last-child) {
  margin-bottom: 1.5rem;
}
.menu-header__link a {
  color: #ffffff;
}
.menu-header__link a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .menu-header__link:not(:first-child) {
    font-size: 2rem;
    line-height: 2.75rem;
  }
}
@media (max-width: 1024px) {
  .menu-header__references {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
  }
}
.menu-header__social {
  -webkit-column-gap: 0.91rem;
     -moz-column-gap: 0.91rem;
          column-gap: 0.91rem;
  margin-right: 2.5rem;
}
.menu-header__social a {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #ffffff;
  border-radius: 50%;
  border: 0.125rem solid #4d1299;
}
.menu-header__social a:hover {
  border: 0.125rem solid #ffffff;
  background-color: #270850;
}
.menu-header__social a svg {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  fill: #4d1299;
}
.menu-header__social a svg:hover {
  fill: #ffffff;
}
@media (max-width: 768px) {
  .menu-header__social a {
    width: 2rem;
    height: 2rem;
  }
}
.menu-header__phone {
  background-color: #ffffff;
  border: 0.125rem solid #4d1299;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.menu-header__phone:hover {
  background-color: #270850;
  border: 0.125rem solid #ffffff;
}

.promo-section__top {
  padding: 8.81rem 0 7.25rem 0;
}
@media (max-width: 1439px) {
  .promo-section__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .promo-section__top {
    padding-top: 4.5rem;
  }
}
@media (max-width: 425px) {
  .promo-section__top {
    padding-top: 2rem;
  }
}
.promo-section__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42.375rem;
          flex: 0 0 42.375rem;
  padding-bottom: 8.5rem;
}
@media (max-width: 1439px) {
  .promo-section__content {
    padding-bottom: 0;
  }
}
@media (max-width: 500px) {
  .promo-section__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 3.11rem;
  }
}
.promo-section__title {
  font-family: Montserrat;
  font-size: 3.4375rem;
  line-height: 115%;
  margin-bottom: 2rem;
}
.promo-section__title span {
  color: #4d1299;
}
@media (max-width: 768px) {
  .promo-section__title {
    font-size: 2.25rem;
    line-height: 115%;
    max-width: 28.3125rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 425px) {
  .promo-section__title {
    font-size: 1.625rem;
    max-width: 100%;
  }
}
.promo-section__subtitle {
  font-size: 1.125rem;
  line-height: normal;
  margin-bottom: 2.81rem;
  max-width: 37.75rem;
}
@media (max-width: 768px) {
  .promo-section__subtitle {
    font-size: 1rem;
    max-width: 28.3125rem;
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 500px) {
  .promo-section__subtitle {
    max-width: 100%;
  }
}
.promo-section__button {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.563rem;
}
@media (max-width: 768px) {
  .promo-section__button {
    font-size: 0.9375rem;
  }
}
@media (max-width: 500px) {
  .promo-section__button {
    width: 100%;
  }
}
.promo-section__background {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 52.25rem;
          flex: 0 1 52.25rem;
  margin-left: -4rem;
  margin-right: -8rem;
}
@media (max-width: 1439px) {
  .promo-section__background {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0;
  }
}
.promo-section__img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1439px) {
  .promo-section__img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding-bottom: 67.1%;
    margin: 0;
  }
}
@media (max-width: 425px) {
  .promo-section__img {
    padding-bottom: 80%;
  }
}
.promo-section__img img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1439px) {
  .promo-section__img img {
    top: 0.25rem;
  }
}

.promo-section__items {
  gap: 2.5rem;
  padding-bottom: 7.25rem;
}
@media (max-width: 1023px) {
  .promo-section__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.promo-section__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(25% - 1.25rem);
          flex: 1 1 calc(25% - 1.25rem);
  text-align: center;
}
@media (max-width: 1023px) {
  .promo-section__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(50% - 1.25rem);
            flex: 1 1 calc(50% - 1.25rem);
  }
}
@media (max-width: 425px) {
  .promo-section__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.item-promo__img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 52%;
}
@media (max-width: 768px) {
  .item-promo__img {
    padding-bottom: 48%;
  }
}
@media (max-width: 425px) {
  .item-promo__img {
    padding-bottom: 36%;
  }
}
.item-promo__img::before {
  content: "";
  width: 90%;
  height: 150%;
  top: -25%;
  position: absolute;
  background: url(../img/svg/ellipse.svg) no-repeat center;
  background-size: cover;
}
@media (max-width: 768px) {
  .item-promo__img::before {
    width: 75%;
    height: 130%;
    top: -15%;
  }
}
@media (max-width: 425px) {
  .item-promo__img::before {
    width: 55%;
    height: 120%;
    top: -10%;
  }
}
.item-promo__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.item-promo__title {
  font-family: Montserrat;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.688rem;
  margin-top: 2.12rem;
  margin-bottom: 0.5rem;
}
.item-promo__text {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.package-section__body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.package-section__header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.package-section__subscription {
  gap: 5.6rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5.5rem 3.75rem;
  background-color: #ebe7f3;
  border-radius: 1.875rem;
  margin-bottom: 3rem;
}
@media (max-width: 1024px) {
  .package-section__subscription {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3.3rem;
    padding: 3.75rem;
  }
}
@media (max-width: 425px) {
  .package-section__subscription {
    gap: 2.5rem;
    padding: 2rem 1.5rem;
  }
}
.package-section__monthly {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 2.8rem);
          flex: 0 1 calc(50% - 2.8rem);
}
@media (max-width: 768px) {
  .package-section__monthly {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -ms-flex-item-align: start;
        align-self: flex-start;
    max-width: 27.125rem;
  }
}
.package-section__request {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 2.8rem);
          flex: 0 1 calc(50% - 2.8rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .package-section__request {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: 25rem;
  }
}
@media (max-width: 425px) {
  .package-section__request {
    width: 100%;
  }
}
.package-section__discount {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.9rem 3.75rem;
  background-color: #4d1299;
  border-radius: 1.875rem;
}
@media (max-width: 425px) {
  .package-section__discount {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 1.5rem;
  }
}

.header-package__title {
  font-size: 2.875rem;
  text-align: center;
  line-height: 3.5rem;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .header-package__title {
    font-size: 2rem;
    line-height: 2.438rem;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 425px) {
  .header-package__title {
    max-width: 20.9375rem;
    font-size: 1.5rem;
    line-height: 1.813rem;
    margin-bottom: 0.5rem;
  }
}
.header-package__subtitle {
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.563rem;
  max-width: 41.0625rem;
  margin-bottom: 3rem;
}
@media (max-width: 768px) {
  .header-package__subtitle {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}

.monthly-subscription__title {
  font-size: 2rem;
  line-height: 115%;
  margin-bottom: 2rem;
  font-family: Montserrat;
}
@media (max-width: 768px) {
  .monthly-subscription__title {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 425px) {
  .monthly-subscription__title {
    font-size: 1.25rem;
    max-width: 17.9375rem;
  }
}
.monthly-subscription__list {
  list-style: outside url(../img/svg/li-mark.svg);
  font-size: 1.125rem;
  line-height: 1.563rem;
  padding-left: 1.4rem;
  margin-bottom: 2rem;
}
.monthly-subscription__list li:not(:last-child) {
  margin-bottom: 0.5rem;
}
@media (max-width: 768px) {
  .monthly-subscription__list {
    font-size: 1rem;
    line-height: 1.375rem;
    margin-bottom: 1rem;
  }
}
.monthly-subscription__subtitle {
  color: #4d1299;
  font-size: 1.125rem;
  line-height: 1.563rem;
  position: relative;
  padding-left: 3.875rem;
  background-image: url(../img/svg/valentin.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 50%;
}
@media (max-width: 768px) {
  .monthly-subscription__subtitle {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}
@media (max-width: 425px) {
  .monthly-subscription__subtitle {
    padding-left: 4.875rem;
    max-width: 20rem;
    background-size: 25% 80%;
  }
}

.request-subscription__title {
  color: #4d1299;
  font-size: 3.125rem;
  line-height: 4.25rem;
  margin-bottom: 0.5rem;
}
@media (max-width: 768px) {
  .request-subscription__title {
    font-size: 2.25rem;
    line-height: 2.587rem;
  }
}
.request-subscription__content {
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.563rem;
  margin-bottom: 2.25rem;
}
@media (max-width: 768px) {
  .request-subscription__content {
    font-size: 1rem;
    line-height: 1.375rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 425px) {
  .request-subscription__content {
    max-width: 17.9375rem;
  }
}
.request-subscription__button {
  font-size: 1.125rem;
  line-height: 1.563rem;
  width: 100%;
}

.discount-subscription__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  font-family: Montserrat;
  color: #ebe7f3;
  font-size: 2rem;
  line-height: 115%;
}
.discount-subscription__title span {
  background-color: #ff8427;
  color: #ffffff;
  border-radius: 3.125rem;
  padding: 0 0.5rem;
}
@media (max-width: 768px) {
  .discount-subscription__title {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 65%;
            flex: 0 1 65%;
  }
}
@media (max-width: 425px) {
  .discount-subscription__title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    font-size: 1.25rem;
    max-width: 17.875rem;
  }
}
.discount-subscription__imagebg {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 425px) {
  .discount-subscription__imagebg {
    width: 10rem;
  }
}
.discount-subscription__img {
  padding-bottom: 67%;
}

.benefits-section__top {
  padding-bottom: 10rem;
}
@media (max-width: 768px) {
  .benefits-section__top {
    padding-bottom: 3.9rem;
  }
}
@media (max-width: 675px) {
  .benefits-section__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.benefits-section__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 52%;
          flex: 0 1 52%;
  padding-top: 7.3rem;
  padding-bottom: 6.3125rem;
}
@media (max-width: 1224px) {
  .benefits-section__content {
    padding-bottom: 0;
  }
}
@media (max-width: 768px) {
  .benefits-section__content {
    padding-top: 0;
  }
}
@media (max-width: 500px) {
  .benefits-section__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 3.11rem;
  }
}
.benefits-section__title {
  font-size: 2rem;
  line-height: 115%;
  margin-bottom: 1.5rem;
}
@media (max-width: 768px) {
  .benefits-section__title {
    font-size: 1.5rem;
    line-height: 115%;
    margin-bottom: 1rem;
  }
}
@media (max-width: 425px) {
  .benefits-section__title {
    font-size: 1.625rem;
    max-width: 100%;
  }
}
.benefits-section__list {
  font-size: 1.125rem;
  line-height: 1.563rem;
  margin-left: 1.5rem;
  list-style: outside url(../img/svg/li-mark.svg);
}
.benefits-section__list li:not(:last-child) {
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .benefits-section__list li:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 768px) {
  .benefits-section__list {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .benefits-section__list {
    max-width: 100%;
  }
}
.benefits-section__background {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
}
@media (max-width: 425px) {
  .benefits-section__background {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}
.benefits-section__img {
  width: 100%;
  height: 100%;
}
@media (max-width: 675px) {
  .benefits-section__img {
    padding-bottom: 80%;
  }
}
.benefits-section__img img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1224px) {
  .benefits-section__img img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.benefits-section__items {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5rem;
  padding-bottom: 4rem;
}
@media (max-width: 1023px) {
  .benefits-section__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.benefits-section__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(33.3339% - 1.25rem);
          flex: 0 1 calc(33.3339% - 1.25rem);
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1023px) {
  .benefits-section__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1.25rem);
            flex: 0 1 calc(50% - 1.25rem);
  }
}
@media (max-width: 425px) {
  .benefits-section__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.benefits-section__btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.benefits-section__button {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.item-benefits__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 52%;
  margin-bottom: 3.12rem;
}
@media (max-width: 768px) {
  .item-benefits__img {
    padding-bottom: 48%;
  }
}
@media (max-width: 425px) {
  .item-benefits__img {
    padding-bottom: 36%;
  }
}
.item-benefits__img::before {
  content: "";
  width: 90%;
  height: 150%;
  top: -25%;
  position: absolute;
  background: url(../img/svg/ellipse.svg) no-repeat center;
  background-size: cover;
}
@media (max-width: 768px) {
  .item-benefits__img::before {
    width: 75%;
    height: 130%;
    top: -15%;
  }
}
@media (max-width: 425px) {
  .item-benefits__img::before {
    width: 55%;
    height: 120%;
    top: -10%;
  }
}
.item-benefits__img img {
  -o-object-fit: contain;
     object-fit: contain;
}
.item-benefits__title {
  font-family: Montserrat;
  font-size: 1.375rem;
  line-height: 1.688rem;
  margin-bottom: 0.5rem;
}
.item-benefits__text {
  font-size: 1.125rem;
  line-height: 1.375rem;
}

.feedbacks-section__title {
  font-size: 2.875rem;
  line-height: 3.5rem;
  text-align: center;
  margin-bottom: 4rem;
}
@media (max-width: 768px) {
  .feedbacks-section__title {
    font-size: 2rem;
    line-height: 2.438rem;
  }
}
@media (max-width: 425px) {
  .feedbacks-section__title {
    font-size: 1.5rem;
    line-height: 1.813rem;
  }
}
.feedbacks-section__items {
  -webkit-columns: 3 20rem;
     -moz-columns: 3 20rem;
          columns: 3 20rem;
  -webkit-column-gap: 2.25rem;
     -moz-column-gap: 2.25rem;
          column-gap: 2.25rem;
  margin-bottom: 3.75rem;
}
@media (max-width: 768px) {
  .feedbacks-section__items {
    margin-bottom: 3rem;
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
  }
}
.feedbacks-section__item {
  border-radius: 1.875rem;
  padding: 1.75rem 1.5rem;
  margin-bottom: 2.25rem;
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
}
@media (max-width: 768px) {
  .feedbacks-section__item {
    border-radius: 1.25rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 425px) {
  .feedbacks-section__item {
    margin-bottom: 1.5rem;
  }
}
.feedbacks-section__buttons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}
@media (max-width: 650px) {
  .feedbacks-section__buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.feedbacks-section__button {
  font-size: 1.125rem;
  line-height: 1.563rem;
  font-weight: 600;
}
@media (max-width: 768px) {
  .feedbacks-section__button {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}
@media (max-width: 650px) {
  .feedbacks-section__button {
    width: 100%;
    margin: 0 3rem;
  }
}

.item-feedback__title {
  font-size: 1.375rem;
  line-height: 1.688rem;
  font-family: Montserrat;
  margin-bottom: 0.5rem;
}
@media (max-width: 768px) {
  .item-feedback__title {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}
.item-feedback__stars {
  margin-bottom: 1rem;
}
.item-feedback__stars li {
  width: 1.625rem;
  height: 1.625rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: url(../img/svg/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.item-feedback__stars li:not(:last-child) {
  margin-right: 0.13rem;
}
@media (max-width: 768px) {
  .item-feedback__stars li {
    width: 1.25rem;
    height: 1.25rem;
  }
}
.item-feedback__text {
  font-size: 1.125rem;
  line-height: 1.563rem;
}
@media (max-width: 768px) {
  .item-feedback__text {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}

.credence-section__body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 7.25rem 3.75rem;
  border-radius: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .credence-section__body {
    padding: 4.5rem 1.88rem;
    border-radius: 1.25rem;
  }
}
@media (max-width: 425px) {
  .credence-section__body {
    padding: 4rem 1rem;
  }
}
.credence-section__title {
  font-family: Montserrat;
  font-size: 2.875rem;
  line-height: 3.5rem;
  text-align: center;
  margin-bottom: 4rem;
}
@media (max-width: 768px) {
  .credence-section__title {
    font-size: 2rem;
    line-height: 2.438rem;
    margin-bottom: 3.06rem;
  }
}
@media (max-width: 425px) {
  .credence-section__title {
    font-size: 1.5rem;
    line-height: 1.813rem;
    margin-bottom: 2.5rem;
    max-width: 17.9375rem;
  }
}
.credence-section__items {
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.5rem;
  margin-bottom: 4rem;
}
.credence-section__items::before {
  content: "";
  position: absolute;
  background: url(../img/section-credence/sponge.png) no-repeat center;
  background-size: cover;
  width: 8.75rem;
  height: 8.75rem;
  right: -4.28rem;
  top: 35%;
  z-index: 1;
}
@media (max-width: 768px) {
  .credence-section__items::before {
    width: 6.6875rem;
    height: 6.6875rem;
    right: -2.65rem;
    top: 41%;
  }
}
@media (max-width: 425px) {
  .credence-section__items::before {
    top: 44%;
  }
}
.credence-section__items::after {
  content: "";
  position: absolute;
  background: url(../img/section-credence/brush.png) no-repeat center;
  background-size: contain;
  width: 9.79rem;
  height: 9.79rem;
  left: -2.3rem;
  bottom: -7.75rem;
  z-index: 1;
}
@media (max-width: 768px) {
  .credence-section__items::after {
    width: 8.38rem;
    height: 8.38rem;
    bottom: -6.75rem;
    left: -1.25rem;
  }
}
@media (max-width: 425px) {
  .credence-section__items::after {
    width: 6.88938rem;
    height: 6.88938rem;
    bottom: -4.25rem;
  }
}
@media (max-width: 768px) {
  .credence-section__items {
    gap: 2rem;
    margin-bottom: 3.5rem;
  }
}
@media (max-width: 425px) {
  .credence-section__items {
    margin-bottom: 3rem;
  }
}
.credence-section__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 1.25rem);
          flex: 0 1 calc(50% - 1.25rem);
  background-color: #f4f4f8;
  border-radius: 1.875rem;
  padding: 2.5rem;
}
.credence-section__item:nth-child(2) {
  z-index: 10;
}
@media (max-width: 768px) {
  .credence-section__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1rem);
            flex: 0 1 calc(50% - 1rem);
    padding: 2rem 1.5rem;
    border-radius: 1.25rem;
  }
}
@media (max-width: 425px) {
  .credence-section__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}
.credence-section__button {
  font-size: 1.125rem;
  line-height: 1.563rem;
  font-weight: 600;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 768px) {
  .credence-section__button {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}

.item-credence__title {
  font-size: 2rem;
  line-height: 2.75rem;
  color: #4d1299;
  margin-bottom: 1.5rem;
}
@media (max-width: 768px) {
  .item-credence__title {
    font-size: 1.5rem;
    line-height: 2.063rem;
  }
}
.item-credence__subtitle {
  font-family: Montserrat;
  font-size: 1.375rem;
  line-height: 1.688rem;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .item-credence__subtitle {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}
.item-credence__text {
  font-size: 1.125rem;
  line-height: 1.563rem;
}
@media (max-width: 768px) {
  .item-credence__text {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}

.questions-section__title {
  text-align: center;
  font-size: 2.875rem;
  line-height: 3.5rem;
  margin-bottom: 4rem;
}
@media (max-width: 768px) {
  .questions-section__title {
    margin-bottom: 4.5rem;
    font-size: 2rem;
    line-height: 2.438rem;
  }
}
@media (max-width: 425px) {
  .questions-section__title {
    margin-bottom: 4rem;
    font-size: 1.5rem;
    line-height: 1.813rem;
  }
}
.questions-section__body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1.875rem;
  background-color: #ebe7f3;
  padding: 3.75rem;
}
@media (max-width: 768px) {
  .questions-section__body {
    border-radius: 1.25rem;
    padding: 4.5rem 1.99rem 4.5rem 1.87rem;
  }
}
@media (max-width: 425px) {
  .questions-section__body {
    padding: 2rem 1rem 2rem 1.1rem;
  }
}
.questions-section__accordion {
  min-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  margin-bottom: 3.75rem;
}
@media (max-width: 768px) {
  .questions-section__accordion {
    gap: 1.75rem;
    margin-bottom: 3.5rem;
  }
}
@media (max-width: 425px) {
  .questions-section__accordion {
    gap: 1.25rem;
    margin-bottom: 3rem;
  }
}
@media (max-width: 768px) {
  .questions-section__button {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}

.accordion-items__item_show .accordion-items__button span::before, .accordion-items__item._slidedown .accordion-items__button span::before {
  width: 0;
}
.accordion-items__item_show .accordion-items__button span::after, .accordion-items__item._slidedown .accordion-items__button span::after {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.accordion-items__item:not(.accordion-items__item_show) .accordion-items__content {
  display: none;
}
.accordion-items__button {
  font-family: Montserrat;
  font-size: 1.5rem;
  line-height: 1.813rem;
  text-align: left;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.accordion-items__button:hover {
  color: #4d1299;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .accordion-items__button {
    font-size: 1.375rem;
    line-height: 1.688rem;
  }
}
@media (max-width: 425px) {
  .accordion-items__button {
    font-size: 1.25rem;
    line-height: 1.437rem;
  }
}
.accordion-items__button span {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.8125rem;
  height: 1.8125rem;
  background-color: #4d1299;
  border-radius: 50%;
  position: relative;
}
@media (max-width: 768px) {
  .accordion-items__button span {
    width: 1.45475rem;
    height: 1.45475rem;
  }
}
@media (max-width: 425px) {
  .accordion-items__button span {
    width: 1.23925rem;
    height: 1.23925rem;
  }
}
.accordion-items__button span::before, .accordion-items__button span::after {
  content: "";
  width: 0.9125rem;
  height: 0.125rem;
  background-color: #f4f4f8;
  border-radius: 0.0625rem;
  position: absolute;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
@media (max-width: 768px) {
  .accordion-items__button span::before, .accordion-items__button span::after {
    width: 0.84875rem;
  }
}
@media (max-width: 425px) {
  .accordion-items__button span::before, .accordion-items__button span::after {
    width: 0.72375rem;
  }
}
.accordion-items__button span::after {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.accordion-items__border {
  width: 100%;
  height: 0.125rem;
  background-color: #4d1299;
}
.accordion-items__content {
  font-size: 1.125rem;
  line-height: 1.375rem;
  max-width: 36.5625rem;
}
@media (max-width: 768px) {
  .accordion-items__content {
    font-size: 1rem;
    max-width: 36.875rem;
  }
}
@media (max-width: 425px) {
  .accordion-items__content {
    max-width: 17rem;
  }
}
.accordion-items__content p:first-child {
  padding-top: 1.5rem;
}
.accordion-items__content p:not(:last-child) {
  margin-bottom: 0.75rem;
}
@media (max-width: 768px) {
  .accordion-items__content p:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.footer__rights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.12rem;
     -moz-column-gap: 3.12rem;
          column-gap: 3.12rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .footer__rights {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 0.5rem;
  }
}

.aboute-footer__link,
.services-footer__link,
.contacts-footer__link {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.563rem;
}
.aboute-footer__link a,
.services-footer__link a,
.contacts-footer__link a {
  color: #1b1b1b;
}
.aboute-footer__link a:hover,
.services-footer__link a:hover,
.contacts-footer__link a:hover {
  color: #4d1299;
  text-decoration: underline;
}
.aboute-footer__link:not(:last-child),
.services-footer__link:not(:last-child),
.contacts-footer__link:not(:last-child) {
  margin-bottom: 0.5rem;
}

.contacts-footer__link:last-child,
.contacts-footer__link a {
  color: #4d1299;
  font-weight: 700;
}

.social-footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}
.social-footer__links a {
  display: block;
  width: 2.65rem;
  height: 2.65rem;
  background-color: #ffffff;
  border-radius: 50%;
}
.social-footer__links a:hover {
  background: #4d1299;
}
.social-footer__links a svg {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  fill: #4d1299;
}
.social-footer__links a svg:hover {
  fill: #ffffff;
}

.rights-footer__text {
  color: rgba(27, 27, 27, 0.6);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
}