*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  color: #1b1b1b;
  font-family: "Open Sans";
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  max-width: 74.375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.bg-white {
  background-color: #ffffff;
}

.bg-light-blue {
  background-color: #f4f4f8;
}

.semi-bold {
  font-weight: 700;
}

.title {
  font-family: Montserrat;
  font-weight: 700;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1.125rem 1.625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 3.125rem;
  background: #4d1299;
}
.btn a {
  color: #ffffff;
}

.footer-title {
  color: #1b1b1b;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.688rem;
  margin-bottom: 1rem;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.125rem 1.625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3.125rem;
  color: #4d1299;
  cursor: pointer;
}
.phone:hover {
  color: #ffffff;
  background-color: #4d1299;
}
.phone a {
  color: inherit;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.563rem;
}
@media (max-width: 768px) {
  .phone a {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}

.header {
  z-index: 50;
  background-color: #f4f4f8;
  -webkit-box-shadow: 0px 15px 20px 0px rgba(33, 33, 51, 0.03);
          box-shadow: 0px 15px 20px 0px rgba(33, 33, 51, 0.03);
}
.header__navigation {
  height: 6.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem 0;
}
.header__menu {
  background-color: #4d1299;
  position: absolute;
  top: 0;
  right: -100%;
  height: 100%;
  width: 45%;
  padding-top: 10.44rem;
  padding-left: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.header__menu.active {
  right: 0;
  opacity: 1;
}
@media (min-width: 2500px) {
  .header__menu {
    width: 46%;
  }
}
@media (max-width: 1366px) {
  .header__menu {
    width: 48%;
  }
}
@media (max-width: 768px) {
  .header__menu {
    padding-top: 13.44rem;
    padding-left: 3.81rem;
    width: 65%;
  }
}
@media (max-width: 425px) {
  .header__menu {
    padding-top: 9.56rem;
    padding-left: 1.25rem;
    width: 100%;
  }
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer {
  border-radius: 1.875rem 1.875rem 0 0;
  background: #ebe7f3;
}
.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3.75rem;
  margin-bottom: 6.81rem;
}
@media (max-width: 768px) {
  .footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 2.5rem;
  }
}

.navigation-header__logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 3.33rem;
  height: 4.25rem;
}
.navigation-header__switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.3125rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.1875rem;
     -moz-column-gap: 0.1875rem;
          column-gap: 0.1875rem;
  border-radius: 3.125rem;
  border: 0.125rem solid #4d1299;
}
.navigation-header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.12rem;
     -moz-column-gap: 3.12rem;
          column-gap: 3.12rem;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.563rem;
}
.navigation-header__links a {
  color: inherit;
}
.navigation-header__links a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .navigation-header__links {
    display: none;
  }
}
.navigation-header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.94rem;
     -moz-column-gap: 0.94rem;
          column-gap: 0.94rem;
}
.navigation-header__social a {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.navigation-header__social a:hover {
  background: #4d1299;
}
.navigation-header__social a svg {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  fill: #4d1299;
}
.navigation-header__social a svg:hover {
  fill: #ffffff;
}
@media (max-width: 600px) {
  .navigation-header__social {
    display: none;
  }
}
.navigation-header__phone {
  border: 2px solid #4d1299;
}
@media (max-width: 600px) {
  .navigation-header__phone {
    display: none;
  }
}
.navigation-header__menu-button {
  position: relative;
  width: 1.5rem;
  height: 1.3125rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0.125rem;
  z-index: 5;
  background: url(../img/svg/MenuBurger.svg) no-repeat center;
  background-size: 80%;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.navigation-header__menu-button:hover {
  background-size: 90%;
}
.navigation-header__menu-button.active {
  background: url(../img/svg/MenuClose.svg) no-repeat center;
  background-size: 80%;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.navigation-header__menu-button.active:hover {
  background-size: 90%;
}

.switch-pages a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.3125rem 0.875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
  border-radius: 1.5625rem;
}
.switch-pages__home.active, .switch-pages__office.active {
  color: #ffffff;
  background: #4d1299;
}

.menu-header__links {
  margin-bottom: 5.81rem;
}
.menu-header__link {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 3.063rem;
}
.menu-header__link:not(:last-child) {
  margin-bottom: 1.5rem;
}
.menu-header__link a {
  color: #ffffff;
}
.menu-header__link a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .menu-header__link:not(:first-child) {
    font-size: 2rem;
    line-height: 2.75rem;
  }
}
.menu-header__references {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu-header__social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: 0.91rem;
     -moz-column-gap: 0.91rem;
          column-gap: 0.91rem;
  margin-right: 2.5rem;
}
.menu-header__social a {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #ffffff;
  border-radius: 50%;
  border: 0.125rem solid #4d1299;
}
.menu-header__social a:hover {
  border: 0.125rem solid #ffffff;
  background-color: #270850;
}
.menu-header__social a svg {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  fill: #4d1299;
}
.menu-header__social a svg:hover {
  fill: #ffffff;
}
@media (max-width: 768px) {
  .menu-header__social a {
    width: 2rem;
    height: 2rem;
  }
}
.menu-header__phone {
  background-color: #ffffff;
  border: 0.125rem solid #4d1299;
}
.menu-header__phone:hover {
  background-color: #270850;
  border: 0.125rem solid #ffffff;
}

.promo-section__top {
  position: relative;
  padding: 6.38rem 0;
}
.promo-section__content {
  max-width: 60%;
  display: inline-block;
}
.promo-section__title {
  font-family: Montserrat;
  font-size: 3.4375rem;
  line-height: 115%;
  margin-bottom: 2rem;
}
.promo-section__title span {
  color: #4d1299;
}
.promo-section__subtitle {
  font-size: 1.125rem;
  line-height: normal;
  margin-bottom: 2.81rem;
}
.promo-section__subtitle span {
  font-weight: 700;
}
.promo-section__button {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.563rem;
  margin-bottom: 8.5rem;
}
.promo-section__img {
  position: absolute;
  right: -15rem;
  width: 75%;
}

.promo-section__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  padding-bottom: 7.25rem;
}
.promo-section__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  text-align: center;
}

.item-promo__img {
  position: relative;
  padding-bottom: 51.923%;
}
.item-promo__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.item-promo__title {
  font-family: Montserrat;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.688rem;
  margin-top: 3.12rem;
  margin-bottom: 0.5rem;
}
.item-promo__text {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__rights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.12rem;
     -moz-column-gap: 3.12rem;
          column-gap: 3.12rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .footer__rights {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 0.5rem;
  }
}

.aboute-footer__link,
.services-footer__link,
.contacts-footer__link {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.563rem;
}
.aboute-footer__link a,
.services-footer__link a,
.contacts-footer__link a {
  color: #1b1b1b;
}
.aboute-footer__link a:hover,
.services-footer__link a:hover,
.contacts-footer__link a:hover {
  color: #4d1299;
  text-decoration: underline;
}
.aboute-footer__link:not(:last-child),
.services-footer__link:not(:last-child),
.contacts-footer__link:not(:last-child) {
  margin-bottom: 0.5rem;
}

.contacts-footer__link:last-child,
.contacts-footer__link a {
  color: #4d1299;
  font-weight: 700;
}

.social-footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}
.social-footer__links a {
  display: block;
  width: 2.65rem;
  height: 2.65rem;
  background-color: #ffffff;
  border-radius: 50%;
}
.social-footer__links a:hover {
  background: #4d1299;
}
.social-footer__links a svg {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  fill: #4d1299;
}
.social-footer__links a svg:hover {
  fill: #ffffff;
}

.rights-footer__text {
  color: rgba(27, 27, 27, 0.6);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
}