*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  color: #1b1b1b;
  font-family: "Open Sans";
}

.wrapper {
  min-height: 100%;
  overflow: clip;
}

[class*=__container] {
  max-width: 74.375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.title {
  font-family: Montserrat;
}

.header {
  background-color: #f4f4f8;
  -webkit-box-shadow: 0px 0.9375rem 1.25rem 0px rgba(33, 33, 51, 0.05);
          box-shadow: 0px 0.9375rem 1.25rem 0px rgba(33, 33, 51, 0.05);
}
.header__navigation {
  height: 6.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem 0;
}
.header__menu {
  background-color: #4d1299;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 41.6666%;
  padding-top: 10.44rem;
  padding-left: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__menu a {
  color: #ffffff;
}

.navigation-header__logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 3.33rem;
  height: 4.25rem;
}
.navigation-header__switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.3125rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.1875rem;
     -moz-column-gap: 0.1875rem;
          column-gap: 0.1875rem;
  border-radius: 3.125rem;
  border: 2px solid #4d1299;
}
.navigation-header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.12rem;
     -moz-column-gap: 3.12rem;
          column-gap: 3.12rem;
}
.navigation-header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.94rem;
     -moz-column-gap: 0.94rem;
          column-gap: 0.94rem;
}
.navigation-header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.125rem 1.625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3.125rem;
  border: 2px solid #4d1299;
}
.navigation-header__phone > a {
  color: #4d1299;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.navigation-header__menu-button {
  position: relative;
  width: 1.5rem;
  height: 1.125rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 5;
  background: url(../img/svg/MenuBurger.svg) no-repeat center;
  background-size: contain;
}
.navigation-header__menu-button.active {
  background: url(../img/svg/MenuClose.svg) no-repeat center;
  background-size: 90%;
}

.switch-pages > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.3125rem 0.875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  border-radius: 1.5625rem;
}
.switch-pages__home.active, .switch-pages__office.active {
  color: #ffffff;
  background: #4d1299;
}

.text-links {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.text-links > a {
  color: inherit;
}

.social-links > a {
  width: 2.5rem;
  height: 2.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.social-links > a img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.menu-header__links {
  margin-bottom: 5.81rem;
}
.menu-header__link {
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.063rem;
}
.menu-header__link:not(:last-child) {
  margin-bottom: 1.5rem;
}
.menu-header__references {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu-header__social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: 0.91rem;
     -moz-column-gap: 0.91rem;
          column-gap: 0.91rem;
  margin-right: 2.5rem;
}
.menu-header__social > a {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #ffffff;
  border-radius: 50%;
}
.menu-header__phone {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}