// Import fonts ===============================================================
//@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);
// (...< &display=swap&subset=cyrillic-ext >)

// Import *.scss =========================================================
@import "_reset";
@import "_ibg";

// Set variables ==============================================================
$titleFont: Montserrat;
$textFont: "Open Sans";
$colorLightBlue: #f4f4f8;
$colorBlue: #ebe7f3;
$colorWhite: #ffffff;
$colorBlack: #1b1b1b;
$colorViolet: #4d1299;

// Base styles ================================================================
body {
	color: $colorBlack;
	font-family: $textFont; //, Arial, Helvetica, sans-serif;
	overflow: hidden;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

[class*="__container"] {
	max-width: 74.375rem;
	margin: 0 auto;
	padding: 0 0.9375rem;
}
// ===========================
.title {
	font-family: $titleFont; //, Arial, Helvetica, sans-serif;
}

.footer-title {
	color: $colorBlack;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.688rem;
	margin-bottom: 1rem;
}
// ===========================
.phone {
	display: flex;
	padding: 1.125rem 1.625rem;
	justify-content: center;
	align-items: center;
	border-radius: 3.125rem;
	color: $colorViolet;
	cursor: pointer;
	&:hover {
		color: $colorWhite;
		background-color: $colorViolet;
	}
	a {
		color: inherit;
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 600;
		line-height: 1.563rem;
		@media (max-width: 768px) {
			font-size: 1rem;
			line-height: 1.375rem;
		}
	}
}
// ===========================
.header {
	background-color: $colorLightBlue;
	box-shadow: 0px 0.9375rem 1.25rem 0px rgba(33, 33, 51, 0.05);

	&__navigation {
		height: 6.75rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.25rem 0;
	}

	&__menu {
		background-color: $colorViolet;
		position: absolute;
		top: 0;
		right: -100%;
		height: 100%;
		width: 41.6666%;
		padding-top: 10.44rem;
		padding-left: 5rem;
		display: flex;
		flex-direction: column;
		transition: all 0.3s ease-in-out;
		opacity: 0;

		&.active {
			right: 0;
			opacity: 1;
		}

		@media (max-width: 768px) {
			padding-top: 13.44rem;
			padding-left: 3.81rem;
			width: 65%;
		}

		@media (max-width: 425px) {
			padding-top: 9.56rem;
			padding-left: 1.25rem;
			width: 100%;
		}
	}
}

.main {
	flex: 1 1 auto;
}

.footer {
	border-radius: 1.875rem 1.875rem 0 0;
	background: $colorBlue;

	&__body {
		display: flex;
		justify-content: space-between;
		padding-top: 3.75rem;
		margin-bottom: 6.81rem;
		@media (max-width: 768px) {
			flex-wrap: wrap;
			row-gap: 2.5rem;
		}
	}
}

//==================== Header ====================
.navigation-header {
	&__logo {
		flex-shrink: 0;
		width: 3.33rem;
		height: 4.25rem;
	}

	&__switch {
		display: flex;
		padding: 0.3125rem;
		justify-content: center;
		align-items: center;
		column-gap: 0.1875rem;
		border-radius: 3.125rem;
		border: 0.125rem solid $colorViolet;
	}

	&__links {
		display: flex;
		column-gap: 3.12rem;
		font-size: 1.125rem;
		font-weight: 600;
		line-height: 1.563rem;

		a {
			color: inherit;

			&:hover {
				text-decoration: underline;
			}
		}

		@media (max-width: 768px) {
			display: none;
		}
	}

	&__social {
		display: flex;
		column-gap: 0.94rem;

		a {
			width: 2.5rem;
			height: 2.5rem;
			border-radius: 50%;
			flex-shrink: 0;
			&:hover {
				background: $colorViolet;
			}

			svg {
				width: 100%;
				height: 100%;
				object-fit: fill;
				fill: $colorViolet;
				&:hover {
					fill: $colorWhite;
				}
			}
		}

		@media (max-width: 600px) {
			display: none;
		}
	}

	&__phone {
		border: 2px solid $colorViolet;

		@media (max-width: 600px) {
			display: none;
		}
	}

	&__menu-button {
		position: relative;
		width: 1.5rem;
		height: 1.3125rem;
		flex-shrink: 0;
		padding: 0.125rem;
		z-index: 5;
		background: url(../img/svg/MenuBurger.svg) no-repeat center;
		background-size: 80%;
		&:hover {
			background-size: 90%;
		}
		transition: all 0.2s ease-out;
		&.active {
			background: url(../img/svg/MenuClose.svg) no-repeat center;
			background-size: 80%;
			transition: all 0.2s ease-in;
			&:hover {
				background-size: 90%;
			}
		}
	}
}
.switch-pages {
	a {
		display: flex;
		padding: 0.3125rem 0.875rem;
		justify-content: center;
		align-items: center;
		color: inherit;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 600;
		line-height: 1.25rem;
		border-radius: 1.5625rem;
	}
	&__home,
	&__office {
		&.active {
			color: $colorWhite;
			background: $colorViolet;
		}
	}
}

// ===========================
.menu-header {
	&__links {
		margin-bottom: 5.81rem;
	}

	&__link {
		font-size: 2.25rem;
		font-weight: 600;
		line-height: 3.063rem;

		&:not(:last-child) {
			margin-bottom: 1.5rem;
		}

		a {
			color: $colorWhite;
			&:hover {
				text-decoration: underline;
			}
		}

		@media (max-width: 768px) {
			&:not(:first-child) {
				font-size: 2rem;
				line-height: 2.75rem;
			}
		}
	}

	&__references {
		display: flex;
	}

	&__social {
		display: inline-flex;
		column-gap: 0.91rem;
		margin-right: 2.5rem;
		a {
			flex: 0 0 auto;
			width: 2.5rem;
			height: 2.5rem;
			background-color: $colorWhite;
			border-radius: 50%;
			border: 0.125rem solid $colorViolet;
			&:hover {
				border: 0.125rem solid $colorWhite;
				background-color: $colorViolet;
			}

			svg {
				width: 100%;
				height: 100%;
				object-fit: fill;
				fill: $colorViolet;
				&:hover {
					fill: $colorWhite;
				}
			}

			@media (max-width: 768px) {
				width: 2rem;
				height: 2rem;
			}
		}
	}

	&__phone {
		background-color: $colorWhite;
		border: 0.125rem solid $colorViolet;
		&:hover {
			border: 0.125rem solid $colorWhite;
		}
	}
}

//==================== Main ======================

// ===========================

// ===========================

// ===========================

// ===========================

//====================	 Footer ====================
.footer {
	&__body {
	}

	&__aboute {
	}

	&__services {
	}

	&__contacts {
	}

	&__social {
	}

	&__rights {
		display: flex;
		column-gap: 3.12rem;
		justify-content: center;
		margin-bottom: 1rem;
		@media (max-width: 768px) {
			flex-wrap: wrap;
			row-gap: 0.5rem;
		}
	}
}

.aboute-footer,
.services-footer,
.contacts-footer {
	&__link {
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.563rem;

		a {
			color: $colorBlack;
		}

		a:hover {
			color: $colorViolet;
			text-decoration: underline;
		}

		&:not(:last-child) {
			margin-bottom: 0.5rem;
		}
	}
}

.aboute-footer {
	&__title {
	}

	&__links {
	}

	&__link {
	}
}

.services-footer {
	&__title {
	}

	&__links {
	}

	&__link {
	}
}

.contacts-footer {
	&__title {
	}

	&__links {
	}

	&__link {
		&:last-child,
		a {
			color: $colorViolet;
			font-weight: 700;
		}
	}
}

.social-footer {
	&__title {
	}

	&__links {
		display: flex;
		column-gap: 1rem;
		a {
			display: block;
			width: 2.65rem;
			height: 2.65rem;
			background-color: $colorWhite;
			border-radius: 50%;
			&:hover {
				background: $colorViolet;
			}

			svg {
				width: 100%;
				height: 100%;
				object-fit: fill;
				fill: $colorViolet;
				&:hover {
					fill: $colorWhite;
				}
			}
		}
	}
}

.rights-footer {
	&__text {
		color: rgba(27, 27, 27, 0.6);
		font-size: 0.75rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1rem;
	}
}
