// Import fonts ===============================================================
//@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);
// (...< &display=swap&subset=cyrillic-ext >)

// Import *.scss =========================================================
@import "_reset";
@import "_ibg";

// Set variables ==============================================================
$titleFont: Montserrat;
$textFont: "Open Sans";
$colorLightBlue: #f4f4f8;
$colorBlue: #ebe7f3;
$colorWhite: #ffffff;
$colorBlack: #1b1b1b;
$colorViolet: #4d1299;

// Base styles ================================================================
body {
	color: $colorBlack;
	font-family: $textFont; //, Arial, Helvetica, sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
}

[class*="__container"] {
	max-width: 74.375rem;
	margin: 0 auto;
	padding: 0 0.9375rem;
}
// ===========================
.title {
	font-family: $titleFont; //, Arial, Helvetica, sans-serif;
}
// ===========================
.phone {
	display: flex;
	padding: 1.125rem 1.625rem;
	justify-content: center;
	align-items: center;
	border-radius: 3.125rem;

	> a {
		color: $colorViolet;
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 600;
		line-height: 1.563rem;
	}
}
// ===========================
.header {
	background-color: $colorLightBlue;
	box-shadow: 0px 0.9375rem 1.25rem 0px rgba(33, 33, 51, 0.05);

	&__navigation {
		height: 6.75rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.25rem 0;
	}

	&__menu {
		background-color: $colorViolet;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 41.6666%;
		padding-top: 10.44rem;
		padding-left: 5rem;
		display: flex;
		flex-direction: column;
		transition: all 0.3s ease-in-out;
		opacity: 0;

		&.active {
			opacity: 1;
		}
	}
}

//==================== Header ====================
.navigation-header {
	&__logo {
		flex-shrink: 0;
		width: 3.33rem;
		height: 4.25rem;
	}

	&__switch {
		display: flex;
		padding: 0.3125rem;
		justify-content: center;
		align-items: center;
		column-gap: 0.1875rem;
		border-radius: 3.125rem;
		border: 2px solid #4d1299;
	}

	&__links {
		display: flex;
		column-gap: 3.12rem;
	}

	&__social {
		display: flex;
		column-gap: 0.94rem;
	}

	&__phone {
		border: 2px solid #4d1299;
	}

	&__menu-button {
		position: relative;
		width: 1.5rem;
		height: 1.125rem;
		flex-shrink: 0;
		z-index: 5;
		background: url(../img/svg/MenuBurger.svg) no-repeat center;
		background-size: contain;
		&.active {
			background: url(../img/svg/MenuClose.svg) no-repeat center;
			background-size: 90%;
		}
	}
}
.switch-pages {
	> a {
		display: flex;
		padding: 0.3125rem 0.875rem;
		justify-content: center;
		align-items: center;
		color: inherit;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: 20px;
		border-radius: 1.5625rem;
	}
	&__home,
	&__office {
		&.active {
			color: $colorWhite;
			background: #4d1299;
		}
	}
}
.text-links {
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;

	> a {
		color: inherit;
	}
}
.social-links {
	> a {
		width: 2.5rem;
		height: 2.5rem;
		flex-shrink: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: fill;
		}
	}
}
// ===========================
.menu-header {
	&__links {
		margin-bottom: 5.81rem;
	}

	&__link {
		font-size: 2.25rem;
		font-style: normal;
		font-weight: 600;
		line-height: 3.063rem;
		&:not(:last-child) {
			margin-bottom: 1.5rem;
		}
		> a {
			color: $colorWhite;
		}
	}

	&__references {
		display: flex;
	}

	&__social {
		display: inline-flex;
		column-gap: 0.91rem;
		margin-right: 2.5rem;
		> a {
			flex: 0 0 auto;
			width: 2.5rem;
			height: 2.5rem;
			background-color: $colorWhite;
			border-radius: 50%;
		}
	}

	&__phone {
		background-color: $colorWhite;
	}
}

//==================== Main ======================

// ===========================

// ===========================

// ===========================

// ===========================

//====================	 Footer ====================
