// Import fonts ===============================================================
//@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);
// (...< &display=swap&subset=cyrillic-ext >)

// Import *.scss =========================================================
@import "_reset";
@import "_ibg";

// Set variables ==============================================================
$titleFont: Montserrat;
$textFont: "Open Sans";
$colorLightViolet: #f4f4f8;
$colorViolet: #ebe7f3;
$colorWhite: #ffffff;
$colorBlack: #1b1b1b;
$colorDarkViolet: #4d1299;

// Base styles ================================================================
body {
	color: $colorBlack;
	font-family: $textFont, Arial, Helvetica, sans-serif;
	overflow-x: hidden;
	overflow-y: auto;
}

.wrapper {
	min-height: 100%;
	flex-direction: column;
}

[class*="__container"] {
	max-width: 74.375rem;
	margin: 0 auto;
	padding: 0 0.9375rem;
	@media (max-width: 768px) {
		padding: 0 2.44rem;
	}
	@media (max-width: 425px) {
		padding: 0 1.25rem;
	}
}
// ===========================
.flex {
	display: flex;
}

.bg-white {
	background-color: $colorWhite;
}

.bg-violet {
	background-color: $colorViolet;
}

.bg-light-violet {
	background-color: $colorLightViolet;
}

.bold {
	font-weight: 700;
}

.semi-bold {
	font-weight: 600;
}

.title {
	font-family: $titleFont, Arial, Helvetica, sans-serif;
	font-weight: 700;
}

.btn {
	display: inline-flex;
	padding: 1.125rem 1.625rem;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: 0.125rem solid $colorDarkViolet;
	border-radius: 3.125rem;
	background: $colorDarkViolet;
	transition: all 0.3s ease-out;
	&:hover {
		background: $colorLightViolet;
		a {
			color: $colorDarkViolet;
		}
	}
	a {
		color: $colorWhite;
	}
	@media (max-width: 768px) {
		padding: 1rem 1.5rem;
	}
}

.bg {
	img {
		object-fit: fill;
	}
}

.footer-title {
	color: $colorBlack;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.688rem;
	margin-bottom: 1rem;
}
// ===========================
.phone {
	display: inline-flex;
	padding: 1.125rem 1.625rem;
	justify-content: center;
	align-items: center;
	border-radius: 3.125rem;
	color: $colorDarkViolet;
	cursor: pointer;
	&:hover {
		color: $colorWhite;
		background-color: $colorDarkViolet;
	}
	a {
		color: inherit;
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 600;
		line-height: 1.563rem;
		@media (max-width: 768px) {
			font-size: 1rem;
			line-height: 1.375rem;
		}
	}
}
// ===========================
.header {
	z-index: 50;
	background-color: $colorLightViolet;
	box-shadow: 0px 15px 20px 0px rgba(33, 33, 51, 0.03);

	&__navigation {
		height: 6.75rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.25rem 0;
	}

	&__menu {
		background-color: $colorDarkViolet;
		position: absolute;
		top: 0;
		right: -100%;
		height: 100%;
		width: 45%;
		padding-top: 10.44rem;
		padding-left: 5rem;
		display: flex;
		flex-direction: column;
		transition: all 0.3s ease-in-out;
		opacity: 0;

		&.active {
			right: 0;
			opacity: 1;
		}

		@media (min-width: 2500px) {
			width: 46%;
		}

		@media (max-width: 1366px) {
			width: 48%;
		}

		@media (max-width: 768px) {
			padding-top: 13.44rem;
			padding-left: 3.81rem;
			width: 65%;
		}

		@media (max-width: 425px) {
			padding-top: 9.56rem;
			padding-left: 1.25rem;
			width: 100%;
		}
	}
}

.main {
	flex: 1 1 auto;
}
.main {
	&__promo {
	}
	&__benefits {
		padding-bottom: 7.25rem;
	}
	&__package {
		padding-top: 7.25rem;
		padding-bottom: 3rem;
		@media (max-width: 768px) {
			padding-top: 4.5rem;
		}
		@media (max-width: 425px) {
			padding-top: 4rem;
		}
	}
	&__feedbacks {
		padding: 7.25rem 0;
		@media (max-width: 768px) {
			padding: 4.5rem 0;
		}
		@media (max-width: 425px) {
			padding: 4rem 0;
		}
	}
	&__credence {
		padding-top: 7.25rem;
		@media (max-width: 768px) {
			padding: 4.5rem 0 0 0;
		}
		@media (max-width: 425px) {
			padding: 4rem 0 0 0;
		}
	}
	&__questions {
		padding: 7.25rem 0;
		@media (max-width: 768px) {
			padding: 4.5rem 0;
		}
		@media (max-width: 425px) {
			padding: 4rem 0;
		}
	}
}

.footer {
	border-radius: 1.875rem 1.875rem 0 0;
	background: $colorViolet;

	&__body {
		justify-content: space-between;
		padding-top: 3.75rem;
		margin-bottom: 6.81rem;
		@media (max-width: 768px) {
			flex-wrap: wrap;
			row-gap: 2.5rem;
		}
	}
}

//==================== Header ====================
.navigation-header {
	&__logo {
		flex-shrink: 0;
		width: 3.33rem;
		height: 4.25rem;
	}

	&__switch {
		padding: 0.3125rem;
		justify-content: center;
		align-items: center;
		column-gap: 0.1875rem;
		border-radius: 3.125rem;
		border: 0.125rem solid $colorDarkViolet;
	}

	&__links {
		column-gap: 3.12rem;
		font-size: 1.125rem;
		font-weight: 600;
		line-height: 1.563rem;

		a {
			color: inherit;

			&:hover {
				text-decoration: underline;
			}
		}

		@media (max-width: 768px) {
			display: none;
		}
	}

	&__social {
		column-gap: 0.94rem;

		a {
			width: 2.5rem;
			height: 2.5rem;
			border-radius: 50%;
			flex-shrink: 0;
			&:hover {
				background: $colorDarkViolet;
			}

			svg {
				width: 100%;
				height: 100%;
				object-fit: fill;
				fill: $colorDarkViolet;
				&:hover {
					fill: $colorWhite;
				}
			}
		}

		@media (max-width: 600px) {
			display: none;
		}
	}

	&__phone {
		border: 0.125rem solid $colorDarkViolet;

		@media (max-width: 1023.99px) {
			display: none;
		}
	}

	&__menu-button {
		position: relative;
		width: 1.5rem;
		height: 1.3125rem;
		flex-shrink: 0;
		padding: 0.125rem;
		z-index: 5;
		background: url(../img/svg/MenuBurger.svg) no-repeat center;
		background-size: 80%;
		&:hover {
			background-size: 90%;
		}
		transition: all 0.2s ease-out;
		&.active {
			background: url(../img/svg/MenuClose.svg) no-repeat center;
			background-size: 80%;
			transition: all 0.2s ease-in;
			&:hover {
				background-size: 90%;
			}
		}
	}
}
.switch-pages {
	a {
		display: inline-flex;
		padding: 0.3125rem 0.875rem;
		justify-content: center;
		align-items: center;
		color: inherit;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 600;
		line-height: 1.25rem;
		border-radius: 1.5625rem;
	}
	&__home,
	&__office {
		&.active {
			color: $colorWhite;
			background: $colorDarkViolet;
		}
	}
}

// ===========================
.menu-header {
	&__links {
		margin-bottom: 5.81rem;
	}

	&__link {
		font-size: 2.25rem;
		font-weight: 600;
		line-height: 3.063rem;

		&:not(:last-child) {
			margin-bottom: 1.5rem;
		}

		a {
			color: $colorWhite;
			&:hover {
				text-decoration: underline;
			}
		}

		@media (max-width: 768px) {
			&:not(:first-child) {
				font-size: 2rem;
				line-height: 2.75rem;
			}
		}
	}

	&__references {
	}

	&__social {
		column-gap: 0.91rem;
		margin-right: 2.5rem;
		a {
			flex: 0 0 auto;
			width: 2.5rem;
			height: 2.5rem;
			background-color: $colorWhite;
			border-radius: 50%;
			border: 0.125rem solid $colorDarkViolet;
			&:hover {
				border: 0.125rem solid $colorWhite;
				background-color: #270850;
			}

			svg {
				width: 100%;
				height: 100%;
				object-fit: fill;
				fill: $colorDarkViolet;
				&:hover {
					fill: $colorWhite;
				}
			}

			@media (max-width: 768px) {
				width: 2rem;
				height: 2rem;
			}
		}
	}

	&__phone {
		background-color: $colorWhite;
		border: 0.125rem solid $colorDarkViolet;
		&:hover {
			background-color: #270850;
			border: 0.125rem solid $colorWhite;
		}
	}
}

//==================== Main ======================
// section-promo
.promo-section {
	&__top {
		padding: 6.38rem 0;
		@media (max-width: 1439px) {
			flex-wrap: wrap;
		}
	}

	&__content {
		flex: 0 0 42.375rem;
		padding-bottom: 8.5rem;
		@media (max-width: 1439px) {
			padding-bottom: 0;
		}
		@media (max-width: 500px) {
			flex: 1 1 auto;
			margin-bottom: 3.11rem;
		}
	}

	&__title {
		font-family: Montserrat;
		font-size: 3.4375rem;
		line-height: 115%;
		margin-bottom: 2rem;
		span {
			color: $colorDarkViolet;
		}
		@media (max-width: 768px) {
			font-size: 2.25rem;
			line-height: 115%;
			max-width: 28.3125rem;
			margin-bottom: 1rem;
		}
		@media (max-width: 425px) {
			font-size: 1.625rem;
			max-width: 100%;
		}
	}

	&__subtitle {
		font-size: 1.125rem;
		line-height: normal;
		margin-bottom: 2.81rem;
		max-width: 37.75rem;
		@media (max-width: 768px) {
			font-size: 1rem;
			max-width: 28.3125rem;
			margin-bottom: 1.5rem;
		}
		@media (max-width: 500px) {
			max-width: 100%;
		}
	}

	&__button {
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 600;
		line-height: 1.563rem;
		@media (max-width: 768px) {
			font-size: 0.9375rem;
		}
		@media (max-width: 500px) {
			width: 100%;
		}
	}

	&__background {
		flex: 0 1 52.25rem;
		margin-left: -4rem;
		margin-right: -8rem;
		@media (max-width: 1439px) {
			flex: 1 1 100%;
			margin: 0;
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		@media (max-width: 1439px) {
			flex: 1 1 100%;
			padding-bottom: 67.1%;
			margin: 0;
		}
		@media (max-width: 425px) {
			padding-bottom: 80%;
		}
		img {
			object-fit: cover;
			@media (max-width: 1439px) {
				top: 0.25rem;
			}
		}
	}
}
.promo-section {
	&__items {
		gap: 2.5rem;
		padding-bottom: 7.25rem;
		@media (max-width: 1023px) {
			flex-wrap: wrap;
		}
	}

	&__item {
		flex: 1 1 calc(25% - 1.25rem);
		text-align: center;
		@media (max-width: 1023px) {
			flex: 1 1 calc(50% - 1.25rem);
		}
		@media (max-width: 425px) {
			flex: 1 1 100%;
		}
	}
}
.item-promo {
	&__img {
		position: relative;
		display: flex;
		justify-content: center;
		padding-bottom: 52%;
		@media (max-width: 768px) {
			padding-bottom: 48%;
		}
		@media (max-width: 425px) {
			padding-bottom: 36%;
		}
		&::before {
			content: "";
			width: 90%;
			height: 150%;
			top: -25%;
			position: absolute;
			background: url(../img/svg/ellipse.svg) no-repeat center;
			background-size: cover;
			// border-radius: 50%;
			// background: rgb(77, 18, 153);
			// background: radial-gradient(circle, rgba(77, 18, 153, 0.06) 0%, rgba(77, 18, 153, 0) 100%);
			@media (max-width: 768px) {
				width: 75%;
				height: 130%;
				top: -15%;
			}
			@media (max-width: 425px) {
				width: 55%;
				height: 120%;
				top: -10%;
			}
		}
		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__title {
		font-family: $titleFont;
		font-size: 1.375rem;
		font-style: normal;
		font-weight: 600;
		line-height: 1.688rem;
		margin-top: 2.12rem;
		margin-bottom: 0.5rem;
	}

	&__text {
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
}

// ===========================
// section-subscription
.package-section {
	&__body {
		flex-direction: column;
	}

	&__header {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__subscription {
		gap: 5.6rem;
		justify-content: space-between;
		align-items: center;
		padding: 5.5rem 3.75rem;
		background-color: $colorViolet;
		border-radius: 1.875rem;
		margin-bottom: 3rem;
		@media (max-width: 1024px) {
			flex-direction: column;
			gap: 3.3rem;
			padding: 3.75rem;
		}
		@media (max-width: 425px) {
			gap: 2.5rem;
			padding: 2rem 1.5rem;
		}
	}

	&__monthly {
		flex-direction: column;
		flex: 0 1 calc(50% - 2.8rem);
		@media (max-width: 768px) {
			flex: 1 1 auto;
			align-self: flex-start;
			max-width: 27.125rem;
		}
	}

	&__request {
		flex-direction: column;
		flex: 0 1 calc(50% - 2.8rem);
		justify-content: center;
		align-items: center;
		@media (max-width: 768px) {
			flex: 1 1 auto;
			max-width: 25rem;
		}
		@media (max-width: 425px) {
			width: 100%;
		}
	}

	&__discount {
		justify-content: space-between;
		align-items: center;
		padding: 1.9rem 3.75rem;
		background-color: $colorDarkViolet;
		border-radius: 1.875rem;
		@media (max-width: 425px) {
			flex-direction: column;
			padding: 2rem 1.5rem;
		}
	}
}

.header-package {
	&__title {
		font-size: 2.875rem;
		text-align: center;
		line-height: 3.5rem;
		margin-bottom: 1rem;
		@media (max-width: 768px) {
			font-size: 2rem;
			line-height: 2.438rem;
			margin-bottom: 0.5rem;
		}
		@media (max-width: 425px) {
			max-width: 20.9375rem;
			font-size: 1.5rem;
			line-height: 1.813rem;
			margin-bottom: 0.5rem;
		}
	}

	&__subtitle {
		text-align: center;
		font-size: 1.125rem;
		line-height: 1.563rem;
		max-width: 41.0625rem;
		margin-bottom: 3rem;
		@media (max-width: 768px) {
			font-size: 1rem;
			line-height: 1.375rem;
		}
	}
}

.monthly-subscription {
	&__title {
		font-size: 2rem;
		line-height: 115%;
		margin-bottom: 2rem;
		font-family: $titleFont;
		@media (max-width: 768px) {
			font-size: 1.75rem;
			margin-bottom: 1rem;
		}
		@media (max-width: 425px) {
			font-size: 1.25rem;
			max-width: 17.9375rem;
		}
	}

	&__list {
		list-style: outside url(../img/svg/li-mark.svg);
		font-size: 1.125rem;
		line-height: 1.563rem;
		padding-left: 1.4rem;
		margin-bottom: 2rem;
		li:not(:last-child) {
			margin-bottom: 0.5rem;
		}
		@media (max-width: 768px) {
			font-size: 1rem;
			line-height: 1.375rem;
			margin-bottom: 1rem;
		}
	}

	&__subtitle {
		color: $colorDarkViolet;
		font-size: 1.125rem;
		line-height: 1.563rem;
		position: relative;
		padding-left: 3.875rem;
		background-image: url(../img/svg/valentin.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 0 50%;
		@media (max-width: 768px) {
			font-size: 1rem;
			line-height: 1.375rem;
		}
		@media (max-width: 425px) {
			padding-left: 4.875rem;
			max-width: 20rem;
			background-size: 25% 80%;
		}
	}
}

.request-subscription {
	&__title {
		color: $colorDarkViolet;
		font-size: 3.125rem;
		line-height: 4.25rem;
		margin-bottom: 0.5rem;
		@media (max-width: 768px) {
			font-size: 2.25rem;
			line-height: 2.587rem;
		}
	}

	&__content {
		text-align: center;
		font-size: 1.125rem;
		line-height: 1.563rem;
		margin-bottom: 2.25rem;
		@media (max-width: 768px) {
			font-size: 1rem;
			line-height: 1.375rem;
			margin-bottom: 2rem;
		}
		@media (max-width: 425px) {
			max-width: 17.9375rem;
		}
	}

	&__button {
		font-size: 1.125rem;
		line-height: 1.563rem;
		width: 100%;
	}
}

.discount-subscription {
	&__title {
		flex: 0 1 60%;
		font-family: $titleFont;
		color: $colorViolet;
		font-size: 2rem;
		line-height: 115%;
		span {
			background-color: #ff8427;
			color: $colorWhite;
			border-radius: 3.125rem;
			padding: 0 0.5rem;
		}
		@media (max-width: 768px) {
			flex: 0 1 65%;
		}
		@media (max-width: 425px) {
			flex: 1 1 auto;
			font-size: 1.25rem;
			max-width: 17.875rem;
		}
	}

	&__imagebg {
		flex: 1 1 auto;
		@media (max-width: 425px) {
			width: 10rem;
		}
	}

	&__img {
		padding-bottom: 67%;
	}
}

// ===========================
// section-benefits
.benefits-section {
	&__top {
		padding-bottom: 10rem;
		@media (max-width: 768px) {
			padding-bottom: 3.9rem;
		}
		@media (max-width: 675px) {
			flex-direction: column-reverse;
		}
	}

	&__content {
		flex: 0 1 52%;
		padding-top: 7.3rem;
		padding-bottom: 6.3125rem;
		@media (max-width: 1224px) {
			padding-bottom: 0;
		}
		@media (max-width: 768px) {
			padding-top: 0;
		}
		@media (max-width: 500px) {
			flex: 1 1 auto;
			margin-bottom: 3.11rem;
		}
	}

	&__title {
		font-size: 2rem;
		line-height: 115%;
		margin-bottom: 1.5rem;
		@media (max-width: 768px) {
			font-size: 1.5rem;
			line-height: 115%;
			margin-bottom: 1rem;
		}
		@media (max-width: 425px) {
			font-size: 1.625rem;
			max-width: 100%;
		}
	}

	&__list {
		font-size: 1.125rem;
		line-height: 1.563rem;
		margin-left: 1.5rem;
		list-style: outside url(../img/svg/li-mark.svg);
		li:not(:last-child) {
			margin-bottom: 1rem;
			@media (max-width: 768px) {
				margin-bottom: 0.5rem;
			}
		}
		@media (max-width: 768px) {
			font-size: 1rem;
		}
		@media (max-width: 500px) {
			max-width: 100%;
		}
	}

	&__background {
		flex: 0 1 48%;
		@media (max-width: 425px) {
			flex: 1 1 auto;
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		@media (max-width: 675px) {
			padding-bottom: 80%;
		}
		img {
			object-fit: cover;
			@media (max-width: 1224px) {
				object-fit: contain;
			}
		}
	}

	&__items {
		justify-content: center;
		gap: 2.5rem;
		padding-bottom: 4rem;
		@media (max-width: 1023px) {
			flex-wrap: wrap;
		}
	}

	&__item {
		flex: 0 1 calc(33.3339% - 1.25rem);
		text-align: center;
		flex-direction: column;
		@media (max-width: 1023px) {
			flex-wrap: wrap;
			flex: 0 1 calc(50% - 1.25rem);
		}
		@media (max-width: 425px) {
			flex: 0 1 100%;
		}
	}

	&__btn {
		justify-content: center;
		align-items: center;
	}

	&__button {
		display: inline-block;
		width: fit-content;
	}
}
.item-benefits {
	&__img {
		display: flex;
		justify-content: center;
		padding-bottom: 52%;
		margin-bottom: 3.12rem;
		@media (max-width: 768px) {
			padding-bottom: 48%;
		}
		@media (max-width: 425px) {
			padding-bottom: 36%;
		}
		&::before {
			content: "";
			width: 90%;
			height: 150%;
			top: -25%;
			position: absolute;
			background: url(../img/svg/ellipse.svg) no-repeat center;
			background-size: cover;
			// border-radius: 50%;
			// background: rgb(77, 18, 153);
			// background: radial-gradient(circle, rgba(77, 18, 153, 0.06) 0%, rgba(77, 18, 153, 0) 100%);
			@media (max-width: 768px) {
				width: 75%;
				height: 130%;
				top: -15%;
			}
			@media (max-width: 425px) {
				width: 55%;
				height: 120%;
				top: -10%;
			}
		}
		img {
			object-fit: contain;
		}
	}

	&__title {
		font-family: $titleFont;
		font-size: 1.375rem;
		line-height: 1.688rem;
		margin-bottom: 0.5rem;
	}

	&__text {
		font-size: 1.125rem;
		line-height: 1.375rem;
	}
}

// ===========================
// section-feedbacks
.feedbacks-section {
	&__title {
		font-size: 2.875rem;
		line-height: 3.5rem;
		text-align: center;
		margin-bottom: 4rem;
		@media (max-width: 768px) {
			font-size: 2rem;
			line-height: 2.438rem;
		}
		@media (max-width: 425px) {
			font-size: 1.5rem;
			line-height: 1.813rem;
		}
	}

	&__items {
		columns: 3 20rem;
		column-gap: 2.25rem;
		margin-bottom: 3.75rem;
		@media (max-width: 768px) {
			margin-bottom: 3rem;
			column-gap: 2rem;
		}
	}

	&__item {
		border-radius: 1.875rem;
		padding: 1.75rem 1.5rem;
		margin-bottom: 2.25rem;
		break-inside: avoid;
		@media (max-width: 768px) {
			border-radius: 1.25rem;
			margin-bottom: 2rem;
		}
		@media (max-width: 425px) {
			margin-bottom: 1.5rem;
		}
	}

	&__buttons {
		justify-content: center;
		gap: 1rem;
		@media (max-width: 650px) {
			flex-wrap: wrap;
		}
	}

	&__button {
		font-size: 1.125rem;
		line-height: 1.563rem;
		font-weight: 600;
		@media (max-width: 768px) {
			font-size: 1rem;
			line-height: 1.375rem;
		}
		@media (max-width: 650px) {
			width: 100%;
			margin: 0 3rem;
		}
	}
}

.item-feedback {
	&__title {
		font-size: 1.375rem;
		line-height: 1.688rem;
		font-family: $titleFont;
		margin-bottom: 0.5rem;
		@media (max-width: 768px) {
			font-size: 1.25rem;
			line-height: 1.5rem;
		}
	}

	&__stars {
		margin-bottom: 1rem;
		li {
			width: 1.625rem;
			height: 1.625rem;
			flex-shrink: 0;
			background-image: url(../img/svg/star.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			&:not(:last-child) {
				margin-right: 0.13rem;
			}
			@media (max-width: 768px) {
				width: 1.25rem;
				height: 1.25rem;
			}
		}
	}

	&__text {
		font-size: 1.125rem;
		line-height: 1.563rem;
		@media (max-width: 768px) {
			font-size: 1rem;
			line-height: 1.375rem;
		}
	}
}

// ===========================
// section-credence
.credence-section {
	&__body {
		flex-direction: column;
		padding: 7.25rem 3.75rem;
		border-radius: 1.875rem;
		align-items: center;
		@media (max-width: 768px) {
			padding: 4.5rem 1.88rem;
			border-radius: 1.25rem;
		}
		@media (max-width: 425px) {
			padding: 4rem 1rem;
		}
	}

	&__title {
		font-family: $titleFont;
		font-size: 2.875rem;
		line-height: 3.5rem;
		text-align: center;
		margin-bottom: 4rem;
		@media (max-width: 768px) {
			font-size: 2rem;
			line-height: 2.438rem;
			margin-bottom: 3.06rem;
		}
		@media (max-width: 425px) {
			font-size: 1.5rem;
			line-height: 1.813rem;
			margin-bottom: 2.5rem;
			max-width: 17.9375rem;
		}
	}

	&__items {
		position: relative;
		flex-wrap: wrap;
		gap: 2.5rem;
		margin-bottom: 4rem;
		&::before {
			content: "";
			position: absolute;
			background: url(../img/section-credence/sponge.png) no-repeat center;
			background-size: cover;
			width: 8.75rem;
			height: 8.75rem;
			right: -4.28rem;
			top: 35%;
			z-index: 1;
			@media (max-width: 768px) {
				width: 6.6875rem;
				height: 6.6875rem;
				right: -2.65rem;
				top: 41%;
			}
			@media (max-width: 425px) {
				top: 44%;
			}
		}
		&::after {
			content: "";
			position: absolute;
			background: url(../img/section-credence/brush.png) no-repeat center;
			background-size: contain;
			width: 9.79rem;
			height: 9.79rem;
			left: -2.3rem;
			bottom: -7.75rem;
			z-index: 1;
			@media (max-width: 768px) {
				width: 8.38rem;
				height: 8.38rem;
				bottom: -6.75rem;
				left: -1.25rem;
			}
			@media (max-width: 425px) {
				width: 6.88938rem;
				height: 6.88938rem;
				bottom: -4.25rem;
			}
		}
		@media (max-width: 768px) {
			gap: 2rem;
			margin-bottom: 3.5rem;
		}
		@media (max-width: 425px) {
			margin-bottom: 3rem;
		}
	}

	&__item {
		flex: 0 1 calc(50% - 1.25rem);
		background-color: $colorLightViolet;
		border-radius: 1.875rem;
		padding: 2.5rem;
		&:nth-child(2) {
			z-index: 10;
		}
		@media (max-width: 768px) {
			flex: 0 1 calc(50% - 1rem);
			padding: 2rem 1.5rem;
			border-radius: 1.25rem;
		}
		@media (max-width: 425px) {
			flex: 1 1 auto;
		}
	}

	&__button {
		font-size: 1.125rem;
		line-height: 1.563rem;
		font-weight: 600;
		width: fit-content;
		@media (max-width: 768px) {
			font-size: 1rem;
			line-height: 1.375rem;
		}
	}
}

.item-credence {
	&__title {
		font-size: 2rem;
		line-height: 2.75rem;
		color: $colorDarkViolet;
		margin-bottom: 1.5rem;
		@media (max-width: 768px) {
			font-size: 1.5rem;
			line-height: 2.063rem;
		}
	}

	&__subtitle {
		font-family: $titleFont;
		font-size: 1.375rem;
		line-height: 1.688rem;
		margin-bottom: 1rem;
		@media (max-width: 768px) {
			font-size: 1.25rem;
			line-height: 1.5rem;
		}
	}

	&__text {
		font-size: 1.125rem;
		line-height: 1.563rem;
		@media (max-width: 768px) {
			font-size: 1rem;
			line-height: 1.375rem;
		}
	}
}

// ===========================
// questions-section
.questions-section {
	&__title {
		text-align: center;
		font-size: 2.875rem;
		line-height: 3.5rem;
		margin-bottom: 4rem;
		@media (max-width: 768px) {
			margin-bottom: 4.5rem;
			font-size: 2rem;
			line-height: 2.438rem;
		}
		@media (max-width: 425px) {
			margin-bottom: 4rem;
			font-size: 1.5rem;
			line-height: 1.813rem;
		}
	}

	&__body {
		flex-direction: column;
		align-items: center;
		border-radius: 1.875rem;
		background-color: $colorViolet;
		padding: 3.75rem;
		@media (max-width: 768px) {
			border-radius: 1.25rem;
			padding: 4.5rem 1.99rem 4.5rem 1.87rem;
		}
		@media (max-width: 425px) {
			padding: 2rem 1rem 2rem 1.1rem;
		}
	}

	&__accordion {
		min-width: 100%;
		flex-direction: column;
		gap: 2rem;
		margin-bottom: 3.75rem;
		@media (max-width: 768px) {
			gap: 1.75rem;
			margin-bottom: 3.5rem;
		}
		@media (max-width: 425px) {
			gap: 1.25rem;
			margin-bottom: 3rem;
		}
	}

	&__button {
		@media (max-width: 768px) {
			font-size: 1rem;
			line-height: 1.375rem;
		}
	}
}

.accordion-items {
	&__item {
		&_show .accordion-items__button span::before,
		&._slidedown .accordion-items__button span::before {
			width: 0;
		}
		&_show .accordion-items__button span::after,
		&._slidedown .accordion-items__button span::after {
			transform: rotate(0deg);
		}
		&:not(.accordion-items__item_show) .accordion-items__content {
			display: none;
		}
	}

	&__button {
		font-family: $titleFont;
		font-size: 1.5rem;
		line-height: 1.813rem;
		text-align: left;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 768px) {
			font-size: 1.375rem;
			line-height: 1.688rem;
		}
		@media (max-width: 425px) {
			font-size: 1.25rem;
			line-height: 1.437rem;
		}
		span {
			flex: 0 0 auto;
			justify-content: center;
			align-items: center;
			width: 1.8125rem;
			height: 1.8125rem;
			background-color: $colorDarkViolet;
			border-radius: 50%;
			position: relative;
			@media (max-width: 768px) {
				width: 1.45475rem;
				height: 1.45475rem;
			}
			@media (max-width: 425px) {
				width: 1.23925rem;
				height: 1.23925rem;
			}
			&::before,
			&::after {
				content: "";
				width: 0.9125rem;
				height: 0.125rem;
				background-color: $colorLightViolet;
				border-radius: 0.0625rem;
				position: absolute;
				transition: all ease 0.3s;
				@media (max-width: 768px) {
					width: 0.84875rem;
				}
				@media (max-width: 425px) {
					width: 0.72375rem;
				}
			}
			&::after {
				transform: rotate(-90deg);
			}
		}
	}

	&__border {
		width: 100%;
		height: 0.125rem;
		background-color: $colorDarkViolet;
	}

	&__content {
		font-size: 1.125rem;
		line-height: 1.375rem;
		max-width: 36.5625rem;
		@media (max-width: 768px) {
			font-size: 1rem;
			max-width: 100%;
		}
		p:first-child {
			padding-top: 1.5rem;
		}
		p:not(:last-child) {
			margin-bottom: 0.75rem;
			@media (max-width: 768px) {
				margin-bottom: 1rem;
			}
		}
	}
}

// ===========================

//====================	 Footer ====================
.footer {
	&__body {
	}

	&__aboute {
	}

	&__services {
	}

	&__contacts {
	}

	&__social {
	}

	&__rights {
		display: flex;
		column-gap: 3.12rem;
		justify-content: center;
		margin-bottom: 1rem;
		@media (max-width: 768px) {
			flex-wrap: wrap;
			row-gap: 0.5rem;
		}
	}
}

.aboute-footer,
.services-footer,
.contacts-footer {
	&__link {
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.563rem;

		a {
			color: $colorBlack;
		}

		a:hover {
			color: $colorDarkViolet;
			text-decoration: underline;
		}

		&:not(:last-child) {
			margin-bottom: 0.5rem;
		}
	}
}

.aboute-footer {
	&__title {
	}

	&__links {
	}

	&__link {
	}
}

.services-footer {
	&__title {
	}

	&__links {
	}

	&__link {
	}
}

.contacts-footer {
	&__title {
	}

	&__links {
	}

	&__link {
		&:last-child,
		a {
			color: $colorDarkViolet;
			font-weight: 700;
		}
	}
}

.social-footer {
	&__title {
	}

	&__links {
		display: flex;
		column-gap: 1rem;
		a {
			display: block;
			width: 2.65rem;
			height: 2.65rem;
			background-color: $colorWhite;
			border-radius: 50%;
			&:hover {
				background: $colorDarkViolet;
			}

			svg {
				width: 100%;
				height: 100%;
				object-fit: fill;
				fill: $colorDarkViolet;
				&:hover {
					fill: $colorWhite;
				}
			}
		}
	}
}

.rights-footer {
	&__text {
		color: rgba(27, 27, 27, 0.6);
		font-size: 0.75rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1rem;
	}
}
